"Social Icons" : section
socialImg1:
	label: Social Image 1
	type: image-url
	default: ''
socialLink1:
	label: Social Link 1
	type: text
	default: 'http://www.facebook.com'
socialImg2:
	label: Social Image 2
	type: image-url
	default: ''
socialLink2:
	label: Social Link 2
	type: text
	default: 'http://www.twitter.com'
socialImg3:
	label: Social Image 3
	type: image-url
	default: ''
socialLink3:
	label: Social Link 3
	type: text
	default: 'http://plus.google.com'
socialImg4:
	label: Social Image 4
	type: image-url
	default: ''
socialLink4:
	label: Social Link 4
	type: text
	default: 'http://www.instagram.com'
socialImg5:
	label: Social Image 5
	type: image-url
	default: ''
socialLink5:
	label: Social Link 5
	type: text
	default: 'http://www.pinterest.com'
socialImg6:
	label: Social Image 6
	type: image-url
	default: ''
socialLink6:
	label: Social Link 6
	type: text
	default: ''
"Special Offer" : section
specialActive:
	label: Active
	type: checkbox
	default:
		active:
			label: "Yes"
specialTitle:
	label: Title
	type: text
	default: ''
specialContent:
	label: Content
	type: textarea
specialImage:
	label: Image
	type: image-url
specialPrice:
	label: Price
	type: text
	default: ''
"Gallery" : section
galleryEnable:
	label: Show gallery
	type: checkbox
	default:
		enable:
			label: 'Yes'
gallery1:
	label: 1. Image
	type: image-url
gallery2:
	label: 2. Image
	type: image-url
gallery3:
	label: 3. Image
	type: image-url
gallery4:
	label: 4. Image
	type: image-url
gallery5:
	label: 5. Image
	type: image-url
gallery6:
	label: 6. Image
	type: image-url
gallery7:
	label: 7. Image
	type: image-url
gallery8:
	label: 8. Image
	type: image-url
gallery9:
	label: 9. Image
	type: image-url
gallery10:
	label: 10. Image
	type: image-url
gallery11:
	label: 11. Image
	type: image-url
gallery12:
	label: 12. Image
	type: image-url
gallery13:
	label: 13. Image
	type: image-url
gallery14:
	label: 14. Image
	type: image-url
gallery15:
	label: 15. Image
	type: image-url
gallery16:
	label: 16. Image
	type: image-url
gallery17:
	label: 17. Image
	type: image-url
gallery18:
	label: 18. Image
	type: image-url
gallery19:
	label: 19. Image
	type: image-url
gallery20:
	label: 20. Image
	type: image-url
