# sectionsOverrideGlobal:
# 	label: Use these settings
# 	type: checkbox
# 	default:
# 		'yes':
# 			label: 'Yes'
sectionsOrder:
	label: Order
	type: order
	default:
		specialOffers: Special Offers
		bestPlaces: Best Places
		recentPlaces: Recent Places
		peopleRatings: People Ratings
"Special Offers": section-title
section1Show:
	label: Show section
	type: checkbox
	default:
		'yes':
			label: 'Yes'
section1Count:
	label: Number of offers
	type: text
	default: 10
"Best Places": section-title
section2Show:
	label: Show section
	type: checkbox
	default:
		'yes':
			label: 'Yes'
section2Count:
	label: Number of items
	type: text
	default: 3
section2Type:
	label: View type
	type: radio
	default:
		list:
			label: List view
		grid:
			label: Grid view
			checked: true
"Recent Places": section-title
section3Show:
	label: Show section
	type: checkbox
	default:
		'yes':
			label: 'Yes'
section3Count:
	label: Number of items
	type: text
	default: 3
section3Type:
	label: View type
	type: radio
	default:
		list:
			label: List view
			checked: true
		grid:
			label: Grid view
"People Ratings": section-title
section4Show:
	label: Show section
	type: checkbox
	default:
		'yes':
			label: 'Yes'
section4Count:
	label: Number of ratings 
	type: text
	default: 10